HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 3em; PADDING-LEFT: 3em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
BODY#media {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
BODY#mediaedit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.clearer {
	CLEAR: both
}
#header {
	HEIGHT: 60px; min-width: 500px
}
#headerprepend {
	LEFT: 3em; WIDTH: 20px; POSITION: absolute; TOP: 0px; HEIGHT: 60px
}
#headerappend {
	MARGIN: 0px 0px 0px 20px; HEIGHT: 60px
}
#userinfo {
	RIGHT: 3em; POSITION: absolute; TOP: 55px
}
#logo {
	MARGIN-TOP: 0.5em; FONT-WEIGHT: bolder; FLOAT: left; VERTICAL-ALIGN: middle; TEXT-ALIGN: right
}
#logo A:link {
	FONT-SIZE: 2em; COLOR: #791e1e; LETTER-SPACING: 2pt; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
#logo A:visited {
	FONT-SIZE: 2em; COLOR: #791e1e; LETTER-SPACING: 2pt; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
#logo A:hover {
	FONT-SIZE: 2em; COLOR: #791e1e; LETTER-SPACING: 2pt; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
#logo A:active {
	FONT-SIZE: 2em; COLOR: #791e1e; LETTER-SPACING: 2pt; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
#logo IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#searchform {
	RIGHT: 3em; POSITION: absolute; TOP: 5px
}
#searchform INPUT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 1px; WIDTH: 10em; PADDING-TOP: 1px
}
#searchform .button {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 3px; WIDTH: auto; PADDING-TOP: 0px
}
#qsearch_out {
	PADDING-RIGHT: 5px; DISPLAY: none; PADDING-LEFT: 5px; Z-INDEX: 500; RIGHT: 19em; PADDING-BOTTOM: 5px; WIDTH: 400px; PADDING-TOP: 5px; POSITION: absolute; TOP: 0px
}
#qsearch_out UL {
	DISPLAY: block; PADDING-LEFT: 1em; MARGIN: 0px
}
#qsearch_out LI {
	
}
#navigation {
	POSITION: absolute; TOP: 40px
}
#navigation UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navigation LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1em 0px 0px; PADDING-TOP: 0px
}
.menu {
	CLEAR: left; FLOAT: left; MARGIN: 0px 0px 10px; WIDTH: 16em
}
.menutitle {
	FLOAT: left; MARGIN: 9px 0px 0px 20px
}
.menuprepend {
	HEIGHT: 2em
}
.menuprepend .free1 {
	HEIGHT: 2em
}
.menuappend {
	HEIGHT: 20px
}
.menuappend .free1 {
	HEIGHT: 20px
}
.menubody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px; PADDING-TOP: 0px
}
.menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pagemap .toc {
	MARGIN: 0px
}
.pagemap .level1 {
	MARGIN: 0px
}
.pagemap .level2 {
	MARGIN: 0px 0px 0px 1.5em
}
.pagemap .level3 {
	MARGIN: 0px 0px 0px 1.5em
}
#links {
	CLEAR: left; FLOAT: left; WIDTH: 17em
}
#links UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#links LI {
	DISPLAY: inline
}
#links IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#content {
	MARGIN: 0px 0px 0px 17em; WIDTH: auto
}
#detail #content {
	MARGIN: 0px
}
#mediaref #content {
	MARGIN: 0px
}
#media #content {
	MARGIN: 0px
}
#mediaedit #content {
	MARGIN: 0px
}
#contentprepend {
	HEIGHT: 2em
}
#contentprepend .free1 {
	HEIGHT: 2em
}
#contentappend {
	HEIGHT: 20px
}
#contentappend .free1 {
	HEIGHT: 20px
}
#contentbody {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; POSITION: relative
}
#contentprepend .commands {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 9px 0px 0px 20px; PADDING-TOP: 0px; POSITION: absolute
}
#contentprepend .commands LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 1em 0px 0px; PADDING-TOP: 0px
}
#contentbody .toc {
	DISPLAY: none
}
#contentbody .secedit {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#contentbody .secedit FORM {
	MARGIN: 0px
}
#contentbody H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 10px; MARGIN: 1em 0px 0px; PADDING-TOP: 1px
}
#contentbody H2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 1em 1px 1px 2em; PADDING-TOP: 1px
}
#contentbody H3 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 1em 1px 0px 4em; PADDING-TOP: 1px
}
#contentbody H4 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 1em 1px 0px 6em; PADDING-TOP: 1px
}
#contentbody H5 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 1em 1px 0px 8em; PADDING-TOP: 1px
}
#contentbody DIV.level1 {
	MARGIN: 0px 0px 0px 1em
}
#contentbody DIV.level2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 0px 2em; PADDING-TOP: 1px
}
#contentbody DIV.level3 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 0px 4em; PADDING-TOP: 1px
}
#contentbody DIV.level4 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 0px 6em; PADDING-TOP: 1px
}
#contentbody DIV.level5 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 20px; PADDING-BOTTOM: 1px; MARGIN: 1px 1px 0px 8em; PADDING-TOP: 1px
}
#contentbody UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0.5em 2em; PADDING-TOP: 0px
}
#contentbody LI.level1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(images/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#contentbody LI.level2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(images/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#contentbody LI.level3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(images/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#contentbody LI.level4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(images/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#contentbody LI.level5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(images/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(images/dot.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#contentbody IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#contentbody IMG.media {
	MARGIN: 3px
}
#contentbody IMG.medialeft {
	FLOAT: left; MARGIN: 0px 3px 0px 0px
}
#contentbody IMG.mediaright {
	FLOAT: right; MARGIN: 0px 0px 0px 3px
}
#contentbody IMG.mediacenter {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#contentbody TABLE {
	MARGIN: 5px 0px; BORDER-COLLAPSE: collapse
}
#contentbody TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#contentbody TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#contentbody TABLE TD.rightalign {
	TEXT-ALIGN: right
}
#contentbody TABLE TD.centeralign {
	TEXT-ALIGN: center
}
#contentbody TABLE TD.leftalign {
	TEXT-ALIGN: left
}
#media .mediaselect .mediaselect-left {
	FLOAT: left
}
#media .mediaselect .mediaselect-left UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px
}
#media .mediaselect .mediaselect-right {
	PADDING-LEFT: 5px; MARGIN-LEFT: 200px
}
#media .mediaselect .mediaselect-right UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
#media .mediaselect .mediaselect-right UL LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#media .mediaselect .mediaselect-right UL LI .imagemeta {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 5px
}
#media .mediaselect .mediaselect-right UL LI .imagemeta A {
	DISPLAY: block
}
#media LABEL {
	DISPLAY: block
}
#mediaedit LABEL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 8em; PADDING-TOP: 2px; TEXT-ALIGN: right
}
#mediaedit .footer {
	MARGIN-TOP: 1em; PADDING-TOP: 5px
}
