BODY {
	FONT: 10pt "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; COLOR: black; BACKGROUND-COLOR: white
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
DIV.meta {
	CLEAR: both; MARGIN-TOP: 1em; FONT-SIZE: 70%; TEXT-ALIGN: right
}
DIV.breadcrumbs {
	DISPLAY: none
}
DIV.secedit {
	DISPLAY: none
}
.menu {
	DISPLAY: none
}
#links {
	DISPLAY: none
}
#header {
	DISPLAY: none
}
.commands {
	DISPLAY: none
}
.pageinfo {
	DISPLAY: none
}
A.urlextern:unknown {
	FONT-SIZE: 90%; content: " [" attr(href) "]"
}
A.interwiki:unknown {
	FONT-SIZE: 90%; content: " [" attr(href) "]"
}
A.wikilink1 {
	TEXT-DECORATION: underline
}
DIV.page {
	TEXT-ALIGN: justify
}
H1 {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: transparent
}
H2 {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: transparent
}
H3 {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: transparent
}
H4 {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: transparent
}
H5 {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: transparent
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 160%
}
H2 {
	FONT-SIZE: 150%
}
H3 {
	FONT-SIZE: 140%; BORDER-BOTTOM-STYLE: none
}
H4 {
	FONT-SIZE: 120%; BORDER-BOTTOM-STYLE: none
}
H5 {
	FONT-SIZE: 100%; BORDER-BOTTOM-STYLE: none
}
IMG.media {
	MARGIN: 3px
}
IMG.medialeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 1.5em 0px 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG.mediaright {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 0px 0px 1.5em; BORDER-RIGHT-WIDTH: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em 1.5em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em 1em; LINE-HEIGHT: 1em; PADDING-TOP: 0px
}
SPAN.li {
	FONT-WEIGHT: normal
}
PRE.pre {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 0.5em; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 0.5em; FONT-SIZE: 8pt; PADDING-BOTTOM: 0.5em; OVERFLOW: visible; BORDER-LEFT: #000000 1px dashed; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px dashed
}
PRE.code {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 0.5em; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 0.5em; FONT-SIZE: 8pt; PADDING-BOTTOM: 0.5em; OVERFLOW: visible; BORDER-LEFT: #000000 1px dashed; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px dashed
}
CODE {
	FONT-SIZE: 120%
}
PRE.file {
	BORDER-RIGHT: #000000 1px dotted; PADDING-RIGHT: 0.5em; BORDER-TOP: #000000 1px dotted; PADDING-LEFT: 0.5em; FONT-SIZE: 8pt; PADDING-BOTTOM: 0.5em; OVERFLOW: visible; BORDER-LEFT: #000000 1px dotted; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px dotted
}
DIV.footnotes {
	CLEAR: both; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 1em
}
DIV.fn {
	FONT-SIZE: 90%
}
A.fn_top {
	FONT-SIZE: 80%; VERTICAL-ALIGN: super
}
A.fn_bot {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; VERTICAL-ALIGN: super
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.inline {
	FONT-SIZE: 80%; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff; border-spacing: 0px
}
TABLE.inline TH {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 2px solid
}
TABLE.inline TD {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid
}
.leftalign {
	TEXT-ALIGN: left
}
.centeralign {
	TEXT-ALIGN: center
}
.rightalign {
	TEXT-ALIGN: right
}
.toc {
	DISPLAY: none
}
.footerinc {
	DISPLAY: none
}
.header {
	DISPLAY: none
}
.bar {
	DISPLAY: none
}
.user {
	DISPLAY: none
}
#sidebar {
	DISPLAY: none
}
